<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Timer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D80321181BD554F500E29E8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D803212C1BD554F500E29E8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D80321371BD554F500E29E8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D803214B1BD5550B00E29E8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
